@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&display=swap');

@theme {
  --font-serif: "Fraunces", serif;
  --font-mono: "DM Mono", monospace;
}

:root {
  --surface: #121315;
  --surface-container-low: #1b1c1e;
  --surface-container-high: #292a2c;
  --primary-container: #c8f080;
  --secondary: #7ed2ee;
  --ghost-border: rgba(255, 255, 255, 0.15);
  
  --text: #ffffff;
  --muted: rgba(255, 255, 255, 0.7);
  --hint: rgba(255, 255, 255, 0.4);
}

body {
  font-family: var(--font-mono);
  background-color: var(--surface);
  color: var(--text);
  margin: 0;
  min-height: 100vh;
}

/* Enforce The Algorithmic Manuscript Rules */
* {
  border-radius: 0px !important;
  box-shadow: none !important;
  transition-duration: 0ms !important;
}